body {
	text-align: center;
	width: auto;
	margin: auto;
	padding: 20px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#pw-bar {
	text-align: center;
}

.chart {
	display: inline-block;
}

.panel-primary {
	float: left;
	width: 300px;
}

.panel-default {
	float: left;
}

.panel {
	display: inline;
	margin: 10px;
}

.well {
	padding: 5px;
}

#results {
	margin: 5px;
}

#footer {
	font-size: 10px;
}
